.filterSidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 250px;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  
  .filterSidebar label,
  .filterSidebar .form-control {
    color: black; /* Make form labels and inputs text black */
  }
  
  .filterSidebar .checkbox-group label,
  .filterSidebar .checkbox-group input {
    display: block;
    margin-bottom: 8px;
  }
  
  .applyButton {
    width: 100%;
    margin-top: 20px;
    background-color: var(--primary-color); /* Use global primary color */
    border-color: var(--primary-color); /* Use global primary color for border */
  }
  
  .applyButton:hover {
    background-color: var(--secondary-color); /* Use global secondary color on hover */
    border-color: var(--secondary-color); /* Use global secondary color on hover */
  }
  
  /* Add specific styles for the slider */
  .slider-container {
    margin-top: 15px;
  }
  
  .slider {
    width: 100%;
    background-color: var(--primary-color); /* Use global primary color for the slider track */
  }
  
  .slider::-webkit-slider-thumb {
    background-color: var(--primary-color); /* Use global primary color for the slider thumb */
  }
  
  .slider::-webkit-slider-thumb:hover {
    background-color: var(--secondary-color); /* Use global secondary color for the slider thumb on hover */
  }
  
  .slider::-moz-range-thumb {
    background-color: var(--primary-color); /* Use global primary color for the slider thumb */
  }
  
  .slider::-moz-range-thumb:hover {
    background-color: var(--secondary-color); /* Use global secondary color for the slider thumb on hover */
  }
  
  .ratingText {
    color: black; /* Ensure the rating text is black */
    text-align: center; /* Center the text */
  }
  