.adminDashboard {
    margin-top: 20px;
  }

.chartContainer {
    height: 300px;
    margin-bottom: 20px;
  }

  .adminTitle{
    color: white;
  }

  .customNav :global(.nav-link) {
    color: var(--primary-color); 
  }
  
  .customNav :global(.nav-link.active) {
    background-color: var(--primary-color);
    color: #ffffff; 
  }
  
  .customNav :global(.nav-link:hover) {
    color: grey 
  }