/* src/views/Profile.css */

.profile-card {
    border-radius: 15px;
  }
  
  .profile-header {
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .profile-picture {
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.feedContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Adjust the space between items */
}

.gridItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.gridItem .content {
  padding: 10px;
}

.gridItem .content h4 {
  margin: 0;
  font-size: 1.2rem;
}
