/* src/views/Profile.css */

.profile-card {
    border-radius: 15px;
  }
  
  .profile-header {
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .profile-picture {
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.feedContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px; /* Adjust the space between items */
}

.gridItem {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.gridItem .content {
  padding: 10px;
}

.gridItem .content h4 {
  margin: 0;
  font-size: 1.2rem;
}

.profile-tab-statistics {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-tab-statistics h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-tab-statistics ul {
  list-style-type: none;
  padding: 0;
}

.profile-tab-statistics li {
  font-size: 1.125rem;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.profile-tab-statistics li::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #007bff;
  font-size: 1.5rem;
}

.profile-tab-statistics .card-body {
  padding: 20px;
}

/* Custom Button Styles for Statistics Tab */
.profile-tab-statistics .btn {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.profile-tab-statistics .btn:hover {
  background-color: #0056b3;
}

.profile-tab-statistics .btn:focus {
  outline: none;
  box-shadow: none;
}

.profile-tab-statistics .card {
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.readOnlyInput {
  background-color: #d5d6da;
  cursor: not-allowed;
}

.profilePictureGroup {
  display: flex;
  align-items: center;
}

.profilePictureLabel {
  flex: 0 0 auto;
  margin-right: 15px;
}

.profilePictureInputWrapper {
  flex: 1;
  display: flex;
}

.profilePictureInput {
  width: auto;
}

/* Ensure comment text and username are black */
.commentText {
  color: black;
  display: flex;
  align-items: center;  /* Align the text and like button */
  justify-content: space-between;  /* Ensure the heart button is aligned to the right */
}

/* Optional: Adjust padding for the comment container */
.commentContainer {
  padding: 10px;
  margin-bottom: 10px;
}

/* Adjust spacing between comment text and like button */
.commentText strong {
  margin-right: 5px;
}

/* Modal Body Styling */
.modalBody {
  padding: 20px;
}