p {
	color: black;
}

:global(.modal) {
    max-width: calc(100% - 40px) !important;
    max-height: calc(100% - 80px) !important;
    padding: 20px 10px !important;
    box-sizing: border-box !important;
}

.cardTitle {
	color: black;
	font-weight: bold;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalHeader .cardTitle {
    flex-grow: 1; /* Allows the title to take up available space */
}

/* Styling the modal body */
.modalBody {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: flex-start;
	width: 100%;
	height: auto; /* Allow dynamic height */
}

.modalFooter {
    display: flex;
    flex-direction: row; /* Match .modalBody */
    gap: 20px; /* Match spacing */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    flex: 0 0 auto; /* Prevent it from being larger than needed */
    max-height: 20%; /* Ensure it never gets too big */
}

/* Image container takes 60% of the modal */
.carouselContainerImages {
	flex: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 60%;
}

/* Ensure the image scales properly */
.img {
	width: 100%; /* Image scales with container */
	height: auto; /* Maintain aspect ratio */
	max-height: 80vh; /* Prevents image from being too tall */
	border-radius: 8px;
	object-fit: cover;
}

/* Content container takes 40% */
.content {
	flex: 40%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	max-width: 40%;
}

.priceAndButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%; /* Ensure it spans the full width */
}

.priceAndButtons .cardPrice {
	margin: 0; /* Remove margin so it's aligned properly */
}

.editButtons {
	display: flex;
	gap: 5px; /* Adds spacing between buttons */
	margin-left: auto; /* Pushes the buttons to the right */
}

/* Styling for individual content elements */
.cardText {
	font-size: 1rem;
	color: #555;
}

.cardPrice {
	font-size: 1.25rem;
	font-weight: bold;
	color: #333;
}

.dropdownText {
	font-size: 1rem;
	color: #555;
}

.button {
	padding: 10px 20px;
	font-size: 1rem;
}


.listingCardGrid {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 100%;
    max-height: 100px; /* Adjust this to prevent it from getting too tall */
    padding: 10px;
    overflow-y: auto;
    white-space: nowrap; /* Prevents items from wrapping */
}

.profilePic {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #ddd;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .author {
	font-weight: bold;
	font-size: 18px;
	color: #333;
	padding: 5px;
  }

  .contentHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }

  .location {
	margin-left: auto; /* Pushes the location to the right */
	font-size: 1;
	color: #666;
	margin-right: 20px; 
  }