/* CommunityCard.module.css */

.alert {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: fit-content;
    padding: 10px 20px;
  }
  
  .joinButton {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 6px;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .joinButton:hover {
    background-color: rgb(223, 223, 223);
  }

  .card {
    cursor: pointer;
    border: none;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 24px; /* Vertical spacing between cards */
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .favoriteButton {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 8px;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .favoriteButton:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .cardBody {
    padding: 16px;
    text-align: left;
  }
  
  .cardTitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .cardDescription {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 8px;
  }
  
  .cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardPrice {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  /* 3 dot menu container */
.threeDotMenu {
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threeDotDropdown {
  position: absolute;
  right: 100;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-top: 80px;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}